<!-- Flyout Filter Menu -->
<!--<ion-menu [type]="menuType" content-id="main-content-two">-->

<!--  <ion-header [translucent]="true">-->
<!--    <ion-toolbar>-->
<!--      <ion-title>Filter Locations</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

<!--  <ion-content class="ion-padding">-->

<!--    <ion-menu-toggle>-->
<!--      <ion-button>Close the menu</ion-button>-->
<!--    </ion-menu-toggle>-->

<!--    <app-filter [locations]="locations"-->
<!--                (itemsChange)="locations = $event">-->
<!--    </app-filter>-->
<!--  </ion-content>-->

<!--</ion-menu>-->


<!-- Main Page Content -->
<section class="ion-page" id="main-content-two">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>101 Peak District Locations</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [debounce]="500"
                     [(ngModel)]="searchText"
                     show-cancel-button="focus"
                     animated="true"
                     placeholder="Search for a Location">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>

<!--  <app-loading *ngIf="isLoading"></app-loading>-->

  <ion-content [fullscreen]="true" class="ion-padding">

    <ion-button id="open-modal-two" expand="block">Filter</ion-button>

    <ion-modal trigger="open-modal-two" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Welcome</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <!--            <ion-label position="stacked">Enter your name</ion-label>-->
            <!--            <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>-->
<!--            <app-filter [locations]="locations"-->
<!--                        (itemsChange)="locations = $event">-->
<!--            </app-filter>-->
            <app-filter (filterApplied)="handleFilterApplied($event)"></app-filter>

          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>
</section>
