<h3>Filter Locations</h3>

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <label>Filter by County:</label>
    </ion-col>
    <ion-col size="12">
      <select [(ngModel)]="selectedCounty">
        <option class="placeholder" disabled selected value="undefined">Select an Option</option>
        <option value="All">All</option>
        <option *ngFor="let option of countyOptions" [value]="option">{{ option }}</option>
      </select>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="12">
      <label>Filter by Best Time of Day:</label>
    </ion-col>
    <ion-col size="12">
      <select [(ngModel)]="selectedBestTime">
        <option class="placeholder" disabled selected value="undefined">Select an Option</option>
        <option value="All">All</option>
        <option *ngFor="let option of bestTimeOptions" [value]="option">{{ option }}</option>
      </select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <label>Filter by Season: </label>
    </ion-col>
    <ion-col size="12">
      <select [(ngModel)]="selectedSeason">
        <option class="placeholder" disabled selected value="undefined">Select an Option</option>
        <option value="All">All</option>
        <option *ngFor="let option of seasonOptions" [value]="option">{{ option }}</option>
      </select>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-menu-toggle>
  <ion-button (click)="apply()">Filter</ion-button>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-button (click)="resetAll()">Reset All</ion-button>
</ion-menu-toggle>
